/* Essas são as variáveis para usar no site e ficar mais escalável a edição das coisas */
:root {
  --cor-branco: #F9F9F9;
  --cor-preto: #000000;
  --cor-principal: #0219b1;
  --cor-secundaria: #0219b1;
  --cor-fundo: #00002e;
  --cor-fundo-2: #0d0d60;
  
  --regular: 'mark-pro-regular';
  --bold: 'mark-pro-bold';
}