section.button{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 50px;
}

section.button a {
    color: var(--cor-branco);
    font-family: var(--bold);
    font-size: 2rem;
    padding: 15px 10px;
    background-color: var(--cor-principal);
    border-radius: 15px;
    box-shadow: 2px 5px 5px 5px var(--cor-principal);
    transition: all 0.5s;
}

section.button a:hover {
    scale: 1.1;
}